@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import "../../../scss/ThemeVariables.module.scss";

.Stamp {
	width: 180px;
	height: 180px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-size: cover;
	background-clip: content-box;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	font: 600 1.8em/160px 'Sora', sans-serif;
	color: #fbfbfb;
	text-indent: 20px;
	border-radius: 4px;
}

.Stamp p {
	text-align: center;
	letter-spacing: 0.05em;
}

.Stamp:after {
	content: "";
	display: block;
	position: absolute;
	border: 45px solid transparent;
	border-bottom: 45px solid var(--Card_Background);
	bottom: -55px;
	right: -58px;
	box-shadow: 0px 5px 5px -7px rgba(0, 0, 0, 0.2);
	transform: rotate(135deg);
}

.Stamp:before {
	content: "";
	display: block;
	position: absolute;
	border: 45px solid transparent;
	border-top: 45px solid var(--Card_Background);
	top: -55px;
	left: -58px;
	box-shadow: 0px -5px 5px -7px rgba(0, 0, 0, 0.2);
	transform: rotate(135deg);
}

.StampContainer {
	position: fixed;
	right: 5%;
	top: 2%;
	z-index: 2;
}

.NewOut {
	background-color: var(--New_Stamp_BorderColor);
}

.NewIn {
	background-color: var(--New_Stamp);
}

.CoolOut {
	background-color: var(--Cool_Stamp_BorderColor);
}

.CoolIn {
	background-color: var(--Cool_Stamp);
}
