@import "../../../../scss/ThemeVariables.module.scss";

.Level {
	width: 16px;
	height: 8px;
	border: 1px solid var(--small-border-color);
	display: inline-block;
	transition: background-color 0.3s ease;
	border-radius: 2px;
}

.BasicLevel {
	background-color: var(--competence-basic-color);
}

.MediumLevel {
	background-color: var(--competence-medium-color);
}

.GoodLevel {
	background-color: var(--competence-good-color);
}

.ExcellentLevel {
	background-color: var(--competence-excellent-color);
}

.EmptyLevel {
	background-color: transparent;
}

.CompetenceContainer {
	margin-left: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	gap: 1px;
}

.CompetenceContainer :last-child {
	border-radius: 0px 4px 4px 0px;
}

.CompetenceContainer :first-child {
	border-radius: 4px 0px 0px 4px;
}

.CompetenceCard {
	width: fit-content;
	height: fit-content;
	margin: 4px;
	display: flexbox;
}

.Competence {
	font-size: 0.75rem;
	margin-left: 6px;
	opacity: 0.7;
}

.CompetenceWrapper {
	display: inline-flex;
	height: auto;
	justify-content: flex-start;
	align-items: center;
}
