@import "./ThemeVariables.module.scss";

.CompetenceContainer {
	padding: 6px;
	justify-items: flex-start;
	flex-direction: row;
	display: flex;
	align-items: center;
}

.CVPageContainer {
	width: 90%;
	height: 90%;
	padding: 16px;
}

.ContactContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	height: 90%;
	width: 100%;
	gap: 16px;
}

.CVSectionContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-flow: row wrap;
	gap: 4px;
}

.TechContainer {
	margin: 8px;
	padding: 8px 12px;
	background-color: var(--Card_Background);
	border-radius: 10px;
}

.SettingContainer {
	height: fit-content;
	width: 40%;
}

.ButtonContainer {
	height: fit-content;
	justify-content: space-evenly;
	margin-top: 12px;
	gap: 8px;
}
