@import "../../../scss/ThemeVariables.module.scss";
.Option {
	font-size: 1rem;
	font-family: $Parag_Font;
	background-color: $Select_BackgroundColor
}

.Select {
	width: auto;
	height: auto;
	background-color: $Select_BackgroundColor
}